@model IEnumerable<DRK.ProgDec.BL.Models.Advisor>

<div>
    <table id="students" class="table data-table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" class="init" >
    $.noConflicts();
    jQuery(document).ready(function ($) {
        $('#students').DataTable ({
          "lengthMenu" : [[5,10,25,30,-1] [5,10,25,30, "All"]]
        });
    });

</script>