@model DRK.ProgDec.BL.Models.Program

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-2">
   
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DegreeTypeName)
            <label asp-for="ImagePath" class="control-label"></label>
            <img class="imagepropmedium" alt="@Model.Description" id="programimage" onclick="on('/images/@Model.ImagePath')" src="~/images/@Model.ImagePath" />
            <input asp-for="ImagePath" class="form-control" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </dd>

    </dl>
</div>
<div class="m-2">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
