@model IEnumerable<DRK.ProgDec.BL.Models.Program>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="m-2">
    <a asp-action="Create">Create New</a>
    <a asp-action="Insert">Insert</a>

</p>
<table class="table">
    <thead>
        <tr>
           <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="~/images/@item.ImagePath" alt="@item.Description" id="programimage" onclick="on('/images/@item.ImagePath')" class="imagepropsmall" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    <a asp-action="Update" asp-route-id="@item.ID">Update</a>
                    <a asp-action="GetOne" asp-route-id="@item.ID">Get One</a>
                    <a asp-action="Remove" asp-route-id="@item.ID">Remove</a>

            </td>
        </tr>
}
    </tbody>
</table>
